In [11]:
import requests

url = "https://daily-atmosphere-carbon-dioxide-concentration.p.rapidapi.com/api/co2-api"

headers = {
	"X-RapidAPI-Key": "5980bde7demsh0f3bb48dde1477cp1c5bcbjsn016489ad3762",
	"X-RapidAPI-Host": "daily-atmosphere-carbon-dioxide-concentration.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers)

#print(response.text)
#print(response.json())
data=response.text
#print(data)
type(data)

str

In [12]:
#print(response.json()) #Vemos la data obtenida.
test = response.json() #Lo guardamos en la variable test.
#print(type(test))
keys= test.keys()
#print(keys)

In [13]:
import unittest
import pandas as pd
df=pd.DataFrame(test['co2'])
print(df)
list(df.columns)

      year month day   cycle   trend
0     2013     1  20  395.64  394.41
1     2013     1  21  395.67  394.41
2     2013     1  22  395.70  394.42
3     2013     1  23  395.73  394.43
4     2013     1  24  395.75  394.44
...    ...   ...  ..     ...     ...
3637  2023     1   5  419.37  418.26
3638  2023     1   6  419.40  418.27
3639  2023     1   7  419.42  418.28
3640  2023     1   8  419.44  418.28
3641  2023     1   9  419.47  418.29

[3642 rows x 5 columns]

['year', 'month', 'day', 'cycle', 'trend']

In [14]:
col_name=['year',
 'month',
 'day','cycle','trend']
pd.DataFrame(test['co2'],columns=col_name)
#df.drop(['year'], axis=1)

      year month day   cycle   trend
0     2013     1  20  395.64  394.41
1     2013     1  21  395.67  394.41
2     2013     1  22  395.70  394.42
3     2013     1  23  395.73  394.43
4     2013     1  24  395.75  394.44
...    ...   ...  ..     ...     ...
3637  2023     1   5  419.37  418.26
3638  2023     1   6  419.40  418.27
3639  2023     1   7  419.42  418.28
3640  2023     1   8  419.44  418.28
3641  2023     1   9  419.47  418.29

[3642 rows x 5 columns]